[Unit]
Description=uWSGI instance
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=./
ExecStart=uwsgi --ini uwsgi.ini

[Install]
WantedBy=multi-user.target