name: Publish to DockerHub
on:
  push:
    branches:
      - master
jobs:
  push-dockerhub:
    name: Push Docker Image to DockerHub
    runs-on: ubuntu-latest
    steps:
    - name: Download Repo
      uses: actions/checkout@v2
    - name: Hello world action step
      uses: ./
      id: hello
    - name: Build and Push to DockerHub
      uses: docker/build-push-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}
        repository: elliottkw/hello-python
        tag_with_ref: true
        #tag_with_sha: true
        #tags: ${{ github.sha }}